.hallOfFame {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  color: #50fa7b;
}

.hallOfFame .date,
.hallOfFame .guesses {
  width: 20%;
  text-align: center;
}

.hallOfFame tr:nth-child(even) {
  background: #44475a;
}
