.highScoreInput {
  font-size: 1em;
  width: calc(100% - 0.4em);
  margin: 0.2em;
  color: #50fa7b;
}
.highScoreInput input {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  font-family: Menlo, Monaco, Consolas, Inconsolata, "Courier New", monospace;
  font-size: 1.4em;
  letter-spacing: 0.2em;
}

.highScoreInput input:focus {
  outline: none;
  border: 2px solid #50fa7b;
}

.highScoreInput button {
  font-size: 1em;
  font-weight: 600;
  color: #50fa7b;
  border: 2px solid #50fa7b;
  background-color: transparent;
  padding: 0.5em;
}

.highScoreInput button:hover {
  cursor: pointer;
  background-color: #50fa7a29;
}
